{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepw" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" value={{username}}>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autofocus id="oldpw" name="oldpw" placeholder="Original Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="newpw" name="newpw" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmnewpw" name="confirmnewpw" placeholder="Confirm New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}