{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h1>Portfolio History</h1>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Ticker Symbol</th>
                    <th scope="col">Bought/Sold</th>
                    <th scope="col">No. of Shares</th>
                    <th scope="col">Price Bought/Sold</th>
                    <th scope="col">Total</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                </tr>
              </thead>
            {% for transaction in history %}
            <tr>
                {% for key in transaction %}
                    <td>
                        {{ transaction[key] }}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}