{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<form action="/sell" method="POST">
    <div class="mb-3">
        <select class="form-select" aria-label="Default select example" id="symbol" name="symbol">
            <option selected>Select stock</option>
            {% for stock in stock_list %}
                <option value="{{ stock }}">{{ stock }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>

{% endblock %}